.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.align__flex--start {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.align__center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.align__flex--end {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.justify__flex__start {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.justify__center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.justify__flex__end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.justify__space--around {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.justify__space--between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.justify__space--evenly {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

.header__top {
  height: 35px;
  width: 100%;
  background: #5DA9DD;
}

.header__top .container {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  -ms-grid-columns: 140px 145px 2fr 4fr;
      grid-template-columns: 140px 145px 2fr 4fr;
  grid-gap: 0 10px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  line-height: 35px;
  color: #fff;
}

.header__top .container .phone .phone__number {
  padding-left: 5px;
}

.header__top .container .email {
  height: 35px;
  font-size: 1.1rem;
}

.header__top .container .email .email__address .email__address--content {
  padding-left: 5px;
}

.header__top .container .social__icons {
  line-height: 35px;
  padding-top: 2px;
  font-size: 1.5rem;
  -ms-grid-column-align: end;
      justify-self: end;
}

.header__top .container .social__icons a {
  color: #fff;
  padding: 0 3px;
}

.menu {
  width: 100%;
  height: 60px;
  background: #3b6a8a;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
}

.menu .container .logo__menu--container {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  -ms-grid-columns: 100px 250px 1fr;
      grid-template-columns: 100px 250px 1fr;
}

.menu .container .logo__menu--container .logo {
  width: 100%;
  height: 60px;
}

.menu .container .logo__menu--container .logo a img {
  width: 100%;
  height: 100%;
}

.menu .container .logo__menu--container .slogan h3 {
  font-size: 1.4rem;
  font-weight: 900;
  color: #fff;
}

.menu .container .logo__menu--container .menu__ul {
  line-height: 60px;
}

.menu .container .logo__menu--container .menu__ul--li a {
  color: #fff;
  font-size: 18px;
  padding: 20px 12px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background: transparent;
  text-transform: capitalize;
}

.menu .container .logo__menu--container .menu__ul--li a:hover {
  background-color: #5DA9DD;
  color: #2b2626;
}

.banner .container {
  width: 100% !important;
}

.banner .container .owl-carousel {
  width: 100%;
  height: 500px;
}

.banner .container .owl-carousel .slide {
  width: 100%;
  height: 500px;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.banner .container .owl-carousel .slide::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 500px;
  background-color: rgba(0, 0, 0, 0.2);
}

.banner .container .owl-carousel .slide--1 {
  background-image: url(../../assets/slider/slider-1.jpg);
}

.banner .container .owl-carousel .slide--2 {
  background-image: url(../../assets/slider/slider-2.jpg);
}

.banner .container .owl-carousel .slide--3 {
  background-image: url(../../assets/slider/slider-3.jpg);
}

.banner .container .owl-carousel .slide--4 {
  background-image: url(../../assets/slider/slider-4.jpg);
}

.banner .container .owl-carousel .owl-dots {
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 1%;
}

.banner .container .owl-carousel .owl-prev,
.banner .container .owl-carousel .owl-next {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #fff !important;
  font-size: 60px !important;
  background: none !important;
}

.banner .container .owl-carousel .owl-prev {
  left: 1%;
}

.banner .container .owl-carousel .owl-next {
  right: 1%;
}

.scroll__top {
  position: fixed;
  right: 2%;
  bottom: 2%;
}

.scroll__top .scroll__top--btn {
  border: none;
  outline: none;
  background: transparent;
  font-size: 2.4rem;
  color: #5DA9DD;
  display: none;
  cursor: pointer;
}

.main__content .marquee__text {
  height: 40px;
  width: 100%;
  background: lightblue;
}

.main__content .marquee__text .container marquee {
  font-size: 1.2rem;
}

.main__content .about__us,
.main__content .machine__util,
.main__content .our__products,
.main__content .our__services,
.main__content .gallary {
  margin: 40px 0;
}

.main__content .about__us .container .about__us--content,
.main__content .about__us .container .machine__util--content,
.main__content .about__us .container .service--content,
.main__content .about__us .container .gallary--content,
.main__content .machine__util .container .about__us--content,
.main__content .machine__util .container .machine__util--content,
.main__content .machine__util .container .service--content,
.main__content .machine__util .container .gallary--content,
.main__content .our__products .container .about__us--content,
.main__content .our__products .container .machine__util--content,
.main__content .our__products .container .service--content,
.main__content .our__products .container .gallary--content,
.main__content .our__services .container .about__us--content,
.main__content .our__services .container .machine__util--content,
.main__content .our__services .container .service--content,
.main__content .our__services .container .gallary--content,
.main__content .gallary .container .about__us--content,
.main__content .gallary .container .machine__util--content,
.main__content .gallary .container .service--content,
.main__content .gallary .container .gallary--content {
  margin-bottom: 40px;
}

.main__content .about__us .container .about__us--content .big--heading,
.main__content .about__us .container .machine__util--content .big--heading,
.main__content .about__us .container .service--content .big--heading,
.main__content .about__us .container .gallary--content .big--heading,
.main__content .machine__util .container .about__us--content .big--heading,
.main__content .machine__util .container .machine__util--content .big--heading,
.main__content .machine__util .container .service--content .big--heading,
.main__content .machine__util .container .gallary--content .big--heading,
.main__content .our__products .container .about__us--content .big--heading,
.main__content .our__products .container .machine__util--content .big--heading,
.main__content .our__products .container .service--content .big--heading,
.main__content .our__products .container .gallary--content .big--heading,
.main__content .our__services .container .about__us--content .big--heading,
.main__content .our__services .container .machine__util--content .big--heading,
.main__content .our__services .container .service--content .big--heading,
.main__content .our__services .container .gallary--content .big--heading,
.main__content .gallary .container .about__us--content .big--heading,
.main__content .gallary .container .machine__util--content .big--heading,
.main__content .gallary .container .service--content .big--heading,
.main__content .gallary .container .gallary--content .big--heading {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  -ms-grid-columns: 6fr 3fr 6fr;
      grid-template-columns: 6fr 3fr 6fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__content .about__us .container .about__us--content .big--heading h1,
.main__content .about__us .container .machine__util--content .big--heading h1,
.main__content .about__us .container .service--content .big--heading h1,
.main__content .about__us .container .gallary--content .big--heading h1,
.main__content .machine__util .container .about__us--content .big--heading h1,
.main__content .machine__util .container .machine__util--content .big--heading h1,
.main__content .machine__util .container .service--content .big--heading h1,
.main__content .machine__util .container .gallary--content .big--heading h1,
.main__content .our__products .container .about__us--content .big--heading h1,
.main__content .our__products .container .machine__util--content .big--heading h1,
.main__content .our__products .container .service--content .big--heading h1,
.main__content .our__products .container .gallary--content .big--heading h1,
.main__content .our__services .container .about__us--content .big--heading h1,
.main__content .our__services .container .machine__util--content .big--heading h1,
.main__content .our__services .container .service--content .big--heading h1,
.main__content .our__services .container .gallary--content .big--heading h1,
.main__content .gallary .container .about__us--content .big--heading h1,
.main__content .gallary .container .machine__util--content .big--heading h1,
.main__content .gallary .container .service--content .big--heading h1,
.main__content .gallary .container .gallary--content .big--heading h1 {
  font-size: 40px;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  -ms-grid-column-align: center;
      justify-self: center;
}

.main__content .about__us .container .about__us--content .big--heading .border--left,
.main__content .about__us .container .about__us--content .big--heading .border--right,
.main__content .about__us .container .machine__util--content .big--heading .border--left,
.main__content .about__us .container .machine__util--content .big--heading .border--right,
.main__content .about__us .container .service--content .big--heading .border--left,
.main__content .about__us .container .service--content .big--heading .border--right,
.main__content .about__us .container .gallary--content .big--heading .border--left,
.main__content .about__us .container .gallary--content .big--heading .border--right,
.main__content .machine__util .container .about__us--content .big--heading .border--left,
.main__content .machine__util .container .about__us--content .big--heading .border--right,
.main__content .machine__util .container .machine__util--content .big--heading .border--left,
.main__content .machine__util .container .machine__util--content .big--heading .border--right,
.main__content .machine__util .container .service--content .big--heading .border--left,
.main__content .machine__util .container .service--content .big--heading .border--right,
.main__content .machine__util .container .gallary--content .big--heading .border--left,
.main__content .machine__util .container .gallary--content .big--heading .border--right,
.main__content .our__products .container .about__us--content .big--heading .border--left,
.main__content .our__products .container .about__us--content .big--heading .border--right,
.main__content .our__products .container .machine__util--content .big--heading .border--left,
.main__content .our__products .container .machine__util--content .big--heading .border--right,
.main__content .our__products .container .service--content .big--heading .border--left,
.main__content .our__products .container .service--content .big--heading .border--right,
.main__content .our__products .container .gallary--content .big--heading .border--left,
.main__content .our__products .container .gallary--content .big--heading .border--right,
.main__content .our__services .container .about__us--content .big--heading .border--left,
.main__content .our__services .container .about__us--content .big--heading .border--right,
.main__content .our__services .container .machine__util--content .big--heading .border--left,
.main__content .our__services .container .machine__util--content .big--heading .border--right,
.main__content .our__services .container .service--content .big--heading .border--left,
.main__content .our__services .container .service--content .big--heading .border--right,
.main__content .our__services .container .gallary--content .big--heading .border--left,
.main__content .our__services .container .gallary--content .big--heading .border--right,
.main__content .gallary .container .about__us--content .big--heading .border--left,
.main__content .gallary .container .about__us--content .big--heading .border--right,
.main__content .gallary .container .machine__util--content .big--heading .border--left,
.main__content .gallary .container .machine__util--content .big--heading .border--right,
.main__content .gallary .container .service--content .big--heading .border--left,
.main__content .gallary .container .service--content .big--heading .border--right,
.main__content .gallary .container .gallary--content .big--heading .border--left,
.main__content .gallary .container .gallary--content .big--heading .border--right {
  display: block;
  width: 50px;
  height: 3px;
  background-color: crimson;
}

.main__content .about__us .container .about__us--content .big--heading .border--left,
.main__content .about__us .container .machine__util--content .big--heading .border--left,
.main__content .about__us .container .service--content .big--heading .border--left,
.main__content .about__us .container .gallary--content .big--heading .border--left,
.main__content .machine__util .container .about__us--content .big--heading .border--left,
.main__content .machine__util .container .machine__util--content .big--heading .border--left,
.main__content .machine__util .container .service--content .big--heading .border--left,
.main__content .machine__util .container .gallary--content .big--heading .border--left,
.main__content .our__products .container .about__us--content .big--heading .border--left,
.main__content .our__products .container .machine__util--content .big--heading .border--left,
.main__content .our__products .container .service--content .big--heading .border--left,
.main__content .our__products .container .gallary--content .big--heading .border--left,
.main__content .our__services .container .about__us--content .big--heading .border--left,
.main__content .our__services .container .machine__util--content .big--heading .border--left,
.main__content .our__services .container .service--content .big--heading .border--left,
.main__content .our__services .container .gallary--content .big--heading .border--left,
.main__content .gallary .container .about__us--content .big--heading .border--left,
.main__content .gallary .container .machine__util--content .big--heading .border--left,
.main__content .gallary .container .service--content .big--heading .border--left,
.main__content .gallary .container .gallary--content .big--heading .border--left {
  -ms-grid-column-align: end;
      justify-self: end;
}

.main__content .about__us .container .about__us--content .big--heading p,
.main__content .about__us .container .machine__util--content .big--heading p,
.main__content .about__us .container .service--content .big--heading p,
.main__content .about__us .container .gallary--content .big--heading p,
.main__content .machine__util .container .about__us--content .big--heading p,
.main__content .machine__util .container .machine__util--content .big--heading p,
.main__content .machine__util .container .service--content .big--heading p,
.main__content .machine__util .container .gallary--content .big--heading p,
.main__content .our__products .container .about__us--content .big--heading p,
.main__content .our__products .container .machine__util--content .big--heading p,
.main__content .our__products .container .service--content .big--heading p,
.main__content .our__products .container .gallary--content .big--heading p,
.main__content .our__services .container .about__us--content .big--heading p,
.main__content .our__services .container .machine__util--content .big--heading p,
.main__content .our__services .container .service--content .big--heading p,
.main__content .our__services .container .gallary--content .big--heading p,
.main__content .gallary .container .about__us--content .big--heading p,
.main__content .gallary .container .machine__util--content .big--heading p,
.main__content .gallary .container .service--content .big--heading p,
.main__content .gallary .container .gallary--content .big--heading p {
  -ms-grid-column-align: center;
      justify-self: center;
  font-size: 1.2rem;
}

.main__content .about__us .container .about__us--content h3,
.main__content .about__us .container .machine__util--content h3,
.main__content .about__us .container .service--content h3,
.main__content .about__us .container .gallary--content h3,
.main__content .machine__util .container .about__us--content h3,
.main__content .machine__util .container .machine__util--content h3,
.main__content .machine__util .container .service--content h3,
.main__content .machine__util .container .gallary--content h3,
.main__content .our__products .container .about__us--content h3,
.main__content .our__products .container .machine__util--content h3,
.main__content .our__products .container .service--content h3,
.main__content .our__products .container .gallary--content h3,
.main__content .our__services .container .about__us--content h3,
.main__content .our__services .container .machine__util--content h3,
.main__content .our__services .container .service--content h3,
.main__content .our__services .container .gallary--content h3,
.main__content .gallary .container .about__us--content h3,
.main__content .gallary .container .machine__util--content h3,
.main__content .gallary .container .service--content h3,
.main__content .gallary .container .gallary--content h3 {
  margin-bottom: 30px;
  text-align: center;
  font-size: 1.9rem;
}

.main__content .about__us .container .about__us--content p,
.main__content .about__us .container .machine__util--content p,
.main__content .about__us .container .service--content p,
.main__content .about__us .container .gallary--content p,
.main__content .machine__util .container .about__us--content p,
.main__content .machine__util .container .machine__util--content p,
.main__content .machine__util .container .service--content p,
.main__content .machine__util .container .gallary--content p,
.main__content .our__products .container .about__us--content p,
.main__content .our__products .container .machine__util--content p,
.main__content .our__products .container .service--content p,
.main__content .our__products .container .gallary--content p,
.main__content .our__services .container .about__us--content p,
.main__content .our__services .container .machine__util--content p,
.main__content .our__services .container .service--content p,
.main__content .our__services .container .gallary--content p,
.main__content .gallary .container .about__us--content p,
.main__content .gallary .container .machine__util--content p,
.main__content .gallary .container .service--content p,
.main__content .gallary .container .gallary--content p {
  font-size: 1.2rem;
  text-align: justify;
}

.main__content .about__us .container .md--container,
.main__content .machine__util .container .md--container,
.main__content .our__products .container .md--container,
.main__content .our__services .container .md--container,
.main__content .gallary .container .md--container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 300px 1fr;
      grid-template-columns: 300px 1fr;
  grid-gap: 0 30px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__content .about__us .container .md--container .img img,
.main__content .machine__util .container .md--container .img img,
.main__content .our__products .container .md--container .img img,
.main__content .our__services .container .md--container .img img,
.main__content .gallary .container .md--container .img img {
  width: 100%;
  height: 100%;
}

.main__content .about__us .container .md--container .content .md--name,
.main__content .machine__util .container .md--container .content .md--name,
.main__content .our__products .container .md--container .content .md--name,
.main__content .our__services .container .md--container .content .md--name,
.main__content .gallary .container .md--container .content .md--name {
  font-size: 1.6rem;
  color: crimson;
  padding: 3px 0;
  text-transform: uppercase;
}

.main__content .about__us .container .md--container .content .underline,
.main__content .machine__util .container .md--container .content .underline,
.main__content .our__products .container .md--container .content .underline,
.main__content .our__services .container .md--container .content .underline,
.main__content .gallary .container .md--container .content .underline {
  background: crimson;
  height: 3px;
  width: 130px;
}

.main__content .about__us .container .md--container .content h4,
.main__content .machine__util .container .md--container .content h4,
.main__content .our__products .container .md--container .content h4,
.main__content .our__services .container .md--container .content h4,
.main__content .gallary .container .md--container .content h4 {
  font-size: 1.3rem;
  padding: 5px 0;
  text-transform: uppercase;
}

.main__content .about__us .container .md--container .content p,
.main__content .machine__util .container .md--container .content p,
.main__content .our__products .container .md--container .content p,
.main__content .our__services .container .md--container .content p,
.main__content .gallary .container .md--container .content p {
  margin-top: 5px;
  font-size: 1.2rem;
  text-align: justify;
}

.main__content .machine__util .container .machine__list .owl-two .boxs,
.main__content .machine__util .container .machine__list .owl-three .boxs,
.main__content .machine__util .container .machine__list .owl-four .boxs,
.main__content .machine__util .container .machine__list .owl-five .boxs,
.main__content .machine__util .container .product__list .owl-two .boxs,
.main__content .machine__util .container .product__list .owl-three .boxs,
.main__content .machine__util .container .product__list .owl-four .boxs,
.main__content .machine__util .container .product__list .owl-five .boxs,
.main__content .machine__util .container .services__list .owl-two .boxs,
.main__content .machine__util .container .services__list .owl-three .boxs,
.main__content .machine__util .container .services__list .owl-four .boxs,
.main__content .machine__util .container .services__list .owl-five .boxs,
.main__content .machine__util .container .gallary__list .owl-two .boxs,
.main__content .machine__util .container .gallary__list .owl-three .boxs,
.main__content .machine__util .container .gallary__list .owl-four .boxs,
.main__content .machine__util .container .gallary__list .owl-five .boxs,
.main__content .our__products .container .machine__list .owl-two .boxs,
.main__content .our__products .container .machine__list .owl-three .boxs,
.main__content .our__products .container .machine__list .owl-four .boxs,
.main__content .our__products .container .machine__list .owl-five .boxs,
.main__content .our__products .container .product__list .owl-two .boxs,
.main__content .our__products .container .product__list .owl-three .boxs,
.main__content .our__products .container .product__list .owl-four .boxs,
.main__content .our__products .container .product__list .owl-five .boxs,
.main__content .our__products .container .services__list .owl-two .boxs,
.main__content .our__products .container .services__list .owl-three .boxs,
.main__content .our__products .container .services__list .owl-four .boxs,
.main__content .our__products .container .services__list .owl-five .boxs,
.main__content .our__products .container .gallary__list .owl-two .boxs,
.main__content .our__products .container .gallary__list .owl-three .boxs,
.main__content .our__products .container .gallary__list .owl-four .boxs,
.main__content .our__products .container .gallary__list .owl-five .boxs,
.main__content .our__services .container .machine__list .owl-two .boxs,
.main__content .our__services .container .machine__list .owl-three .boxs,
.main__content .our__services .container .machine__list .owl-four .boxs,
.main__content .our__services .container .machine__list .owl-five .boxs,
.main__content .our__services .container .product__list .owl-two .boxs,
.main__content .our__services .container .product__list .owl-three .boxs,
.main__content .our__services .container .product__list .owl-four .boxs,
.main__content .our__services .container .product__list .owl-five .boxs,
.main__content .our__services .container .services__list .owl-two .boxs,
.main__content .our__services .container .services__list .owl-three .boxs,
.main__content .our__services .container .services__list .owl-four .boxs,
.main__content .our__services .container .services__list .owl-five .boxs,
.main__content .our__services .container .gallary__list .owl-two .boxs,
.main__content .our__services .container .gallary__list .owl-three .boxs,
.main__content .our__services .container .gallary__list .owl-four .boxs,
.main__content .our__services .container .gallary__list .owl-five .boxs,
.main__content .gallary .container .machine__list .owl-two .boxs,
.main__content .gallary .container .machine__list .owl-three .boxs,
.main__content .gallary .container .machine__list .owl-four .boxs,
.main__content .gallary .container .machine__list .owl-five .boxs,
.main__content .gallary .container .product__list .owl-two .boxs,
.main__content .gallary .container .product__list .owl-three .boxs,
.main__content .gallary .container .product__list .owl-four .boxs,
.main__content .gallary .container .product__list .owl-five .boxs,
.main__content .gallary .container .services__list .owl-two .boxs,
.main__content .gallary .container .services__list .owl-three .boxs,
.main__content .gallary .container .services__list .owl-four .boxs,
.main__content .gallary .container .services__list .owl-five .boxs,
.main__content .gallary .container .gallary__list .owl-two .boxs,
.main__content .gallary .container .gallary__list .owl-three .boxs,
.main__content .gallary .container .gallary__list .owl-four .boxs,
.main__content .gallary .container .gallary__list .owl-five .boxs {
  height: 200px;
  width: 100%;
  background-color: crimson;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__content .machine__util .container .machine__list .owl-two .owl-nav,
.main__content .machine__util .container .machine__list .owl-three .owl-nav,
.main__content .machine__util .container .machine__list .owl-four .owl-nav,
.main__content .machine__util .container .machine__list .owl-five .owl-nav,
.main__content .machine__util .container .product__list .owl-two .owl-nav,
.main__content .machine__util .container .product__list .owl-three .owl-nav,
.main__content .machine__util .container .product__list .owl-four .owl-nav,
.main__content .machine__util .container .product__list .owl-five .owl-nav,
.main__content .machine__util .container .services__list .owl-two .owl-nav,
.main__content .machine__util .container .services__list .owl-three .owl-nav,
.main__content .machine__util .container .services__list .owl-four .owl-nav,
.main__content .machine__util .container .services__list .owl-five .owl-nav,
.main__content .machine__util .container .gallary__list .owl-two .owl-nav,
.main__content .machine__util .container .gallary__list .owl-three .owl-nav,
.main__content .machine__util .container .gallary__list .owl-four .owl-nav,
.main__content .machine__util .container .gallary__list .owl-five .owl-nav,
.main__content .our__products .container .machine__list .owl-two .owl-nav,
.main__content .our__products .container .machine__list .owl-three .owl-nav,
.main__content .our__products .container .machine__list .owl-four .owl-nav,
.main__content .our__products .container .machine__list .owl-five .owl-nav,
.main__content .our__products .container .product__list .owl-two .owl-nav,
.main__content .our__products .container .product__list .owl-three .owl-nav,
.main__content .our__products .container .product__list .owl-four .owl-nav,
.main__content .our__products .container .product__list .owl-five .owl-nav,
.main__content .our__products .container .services__list .owl-two .owl-nav,
.main__content .our__products .container .services__list .owl-three .owl-nav,
.main__content .our__products .container .services__list .owl-four .owl-nav,
.main__content .our__products .container .services__list .owl-five .owl-nav,
.main__content .our__products .container .gallary__list .owl-two .owl-nav,
.main__content .our__products .container .gallary__list .owl-three .owl-nav,
.main__content .our__products .container .gallary__list .owl-four .owl-nav,
.main__content .our__products .container .gallary__list .owl-five .owl-nav,
.main__content .our__services .container .machine__list .owl-two .owl-nav,
.main__content .our__services .container .machine__list .owl-three .owl-nav,
.main__content .our__services .container .machine__list .owl-four .owl-nav,
.main__content .our__services .container .machine__list .owl-five .owl-nav,
.main__content .our__services .container .product__list .owl-two .owl-nav,
.main__content .our__services .container .product__list .owl-three .owl-nav,
.main__content .our__services .container .product__list .owl-four .owl-nav,
.main__content .our__services .container .product__list .owl-five .owl-nav,
.main__content .our__services .container .services__list .owl-two .owl-nav,
.main__content .our__services .container .services__list .owl-three .owl-nav,
.main__content .our__services .container .services__list .owl-four .owl-nav,
.main__content .our__services .container .services__list .owl-five .owl-nav,
.main__content .our__services .container .gallary__list .owl-two .owl-nav,
.main__content .our__services .container .gallary__list .owl-three .owl-nav,
.main__content .our__services .container .gallary__list .owl-four .owl-nav,
.main__content .our__services .container .gallary__list .owl-five .owl-nav,
.main__content .gallary .container .machine__list .owl-two .owl-nav,
.main__content .gallary .container .machine__list .owl-three .owl-nav,
.main__content .gallary .container .machine__list .owl-four .owl-nav,
.main__content .gallary .container .machine__list .owl-five .owl-nav,
.main__content .gallary .container .product__list .owl-two .owl-nav,
.main__content .gallary .container .product__list .owl-three .owl-nav,
.main__content .gallary .container .product__list .owl-four .owl-nav,
.main__content .gallary .container .product__list .owl-five .owl-nav,
.main__content .gallary .container .services__list .owl-two .owl-nav,
.main__content .gallary .container .services__list .owl-three .owl-nav,
.main__content .gallary .container .services__list .owl-four .owl-nav,
.main__content .gallary .container .services__list .owl-five .owl-nav,
.main__content .gallary .container .gallary__list .owl-two .owl-nav,
.main__content .gallary .container .gallary__list .owl-three .owl-nav,
.main__content .gallary .container .gallary__list .owl-four .owl-nav,
.main__content .gallary .container .gallary__list .owl-five .owl-nav {
  display: block;
  position: absolute;
  top: -55px;
  right: 0;
}

.main__content .machine__util .container .machine__list .owl-two .owl-prev,
.main__content .machine__util .container .machine__list .owl-two .owl-next,
.main__content .machine__util .container .machine__list .owl-three .owl-prev,
.main__content .machine__util .container .machine__list .owl-three .owl-next,
.main__content .machine__util .container .machine__list .owl-four .owl-prev,
.main__content .machine__util .container .machine__list .owl-four .owl-next,
.main__content .machine__util .container .machine__list .owl-five .owl-prev,
.main__content .machine__util .container .machine__list .owl-five .owl-next,
.main__content .machine__util .container .product__list .owl-two .owl-prev,
.main__content .machine__util .container .product__list .owl-two .owl-next,
.main__content .machine__util .container .product__list .owl-three .owl-prev,
.main__content .machine__util .container .product__list .owl-three .owl-next,
.main__content .machine__util .container .product__list .owl-four .owl-prev,
.main__content .machine__util .container .product__list .owl-four .owl-next,
.main__content .machine__util .container .product__list .owl-five .owl-prev,
.main__content .machine__util .container .product__list .owl-five .owl-next,
.main__content .machine__util .container .services__list .owl-two .owl-prev,
.main__content .machine__util .container .services__list .owl-two .owl-next,
.main__content .machine__util .container .services__list .owl-three .owl-prev,
.main__content .machine__util .container .services__list .owl-three .owl-next,
.main__content .machine__util .container .services__list .owl-four .owl-prev,
.main__content .machine__util .container .services__list .owl-four .owl-next,
.main__content .machine__util .container .services__list .owl-five .owl-prev,
.main__content .machine__util .container .services__list .owl-five .owl-next,
.main__content .machine__util .container .gallary__list .owl-two .owl-prev,
.main__content .machine__util .container .gallary__list .owl-two .owl-next,
.main__content .machine__util .container .gallary__list .owl-three .owl-prev,
.main__content .machine__util .container .gallary__list .owl-three .owl-next,
.main__content .machine__util .container .gallary__list .owl-four .owl-prev,
.main__content .machine__util .container .gallary__list .owl-four .owl-next,
.main__content .machine__util .container .gallary__list .owl-five .owl-prev,
.main__content .machine__util .container .gallary__list .owl-five .owl-next,
.main__content .our__products .container .machine__list .owl-two .owl-prev,
.main__content .our__products .container .machine__list .owl-two .owl-next,
.main__content .our__products .container .machine__list .owl-three .owl-prev,
.main__content .our__products .container .machine__list .owl-three .owl-next,
.main__content .our__products .container .machine__list .owl-four .owl-prev,
.main__content .our__products .container .machine__list .owl-four .owl-next,
.main__content .our__products .container .machine__list .owl-five .owl-prev,
.main__content .our__products .container .machine__list .owl-five .owl-next,
.main__content .our__products .container .product__list .owl-two .owl-prev,
.main__content .our__products .container .product__list .owl-two .owl-next,
.main__content .our__products .container .product__list .owl-three .owl-prev,
.main__content .our__products .container .product__list .owl-three .owl-next,
.main__content .our__products .container .product__list .owl-four .owl-prev,
.main__content .our__products .container .product__list .owl-four .owl-next,
.main__content .our__products .container .product__list .owl-five .owl-prev,
.main__content .our__products .container .product__list .owl-five .owl-next,
.main__content .our__products .container .services__list .owl-two .owl-prev,
.main__content .our__products .container .services__list .owl-two .owl-next,
.main__content .our__products .container .services__list .owl-three .owl-prev,
.main__content .our__products .container .services__list .owl-three .owl-next,
.main__content .our__products .container .services__list .owl-four .owl-prev,
.main__content .our__products .container .services__list .owl-four .owl-next,
.main__content .our__products .container .services__list .owl-five .owl-prev,
.main__content .our__products .container .services__list .owl-five .owl-next,
.main__content .our__products .container .gallary__list .owl-two .owl-prev,
.main__content .our__products .container .gallary__list .owl-two .owl-next,
.main__content .our__products .container .gallary__list .owl-three .owl-prev,
.main__content .our__products .container .gallary__list .owl-three .owl-next,
.main__content .our__products .container .gallary__list .owl-four .owl-prev,
.main__content .our__products .container .gallary__list .owl-four .owl-next,
.main__content .our__products .container .gallary__list .owl-five .owl-prev,
.main__content .our__products .container .gallary__list .owl-five .owl-next,
.main__content .our__services .container .machine__list .owl-two .owl-prev,
.main__content .our__services .container .machine__list .owl-two .owl-next,
.main__content .our__services .container .machine__list .owl-three .owl-prev,
.main__content .our__services .container .machine__list .owl-three .owl-next,
.main__content .our__services .container .machine__list .owl-four .owl-prev,
.main__content .our__services .container .machine__list .owl-four .owl-next,
.main__content .our__services .container .machine__list .owl-five .owl-prev,
.main__content .our__services .container .machine__list .owl-five .owl-next,
.main__content .our__services .container .product__list .owl-two .owl-prev,
.main__content .our__services .container .product__list .owl-two .owl-next,
.main__content .our__services .container .product__list .owl-three .owl-prev,
.main__content .our__services .container .product__list .owl-three .owl-next,
.main__content .our__services .container .product__list .owl-four .owl-prev,
.main__content .our__services .container .product__list .owl-four .owl-next,
.main__content .our__services .container .product__list .owl-five .owl-prev,
.main__content .our__services .container .product__list .owl-five .owl-next,
.main__content .our__services .container .services__list .owl-two .owl-prev,
.main__content .our__services .container .services__list .owl-two .owl-next,
.main__content .our__services .container .services__list .owl-three .owl-prev,
.main__content .our__services .container .services__list .owl-three .owl-next,
.main__content .our__services .container .services__list .owl-four .owl-prev,
.main__content .our__services .container .services__list .owl-four .owl-next,
.main__content .our__services .container .services__list .owl-five .owl-prev,
.main__content .our__services .container .services__list .owl-five .owl-next,
.main__content .our__services .container .gallary__list .owl-two .owl-prev,
.main__content .our__services .container .gallary__list .owl-two .owl-next,
.main__content .our__services .container .gallary__list .owl-three .owl-prev,
.main__content .our__services .container .gallary__list .owl-three .owl-next,
.main__content .our__services .container .gallary__list .owl-four .owl-prev,
.main__content .our__services .container .gallary__list .owl-four .owl-next,
.main__content .our__services .container .gallary__list .owl-five .owl-prev,
.main__content .our__services .container .gallary__list .owl-five .owl-next,
.main__content .gallary .container .machine__list .owl-two .owl-prev,
.main__content .gallary .container .machine__list .owl-two .owl-next,
.main__content .gallary .container .machine__list .owl-three .owl-prev,
.main__content .gallary .container .machine__list .owl-three .owl-next,
.main__content .gallary .container .machine__list .owl-four .owl-prev,
.main__content .gallary .container .machine__list .owl-four .owl-next,
.main__content .gallary .container .machine__list .owl-five .owl-prev,
.main__content .gallary .container .machine__list .owl-five .owl-next,
.main__content .gallary .container .product__list .owl-two .owl-prev,
.main__content .gallary .container .product__list .owl-two .owl-next,
.main__content .gallary .container .product__list .owl-three .owl-prev,
.main__content .gallary .container .product__list .owl-three .owl-next,
.main__content .gallary .container .product__list .owl-four .owl-prev,
.main__content .gallary .container .product__list .owl-four .owl-next,
.main__content .gallary .container .product__list .owl-five .owl-prev,
.main__content .gallary .container .product__list .owl-five .owl-next,
.main__content .gallary .container .services__list .owl-two .owl-prev,
.main__content .gallary .container .services__list .owl-two .owl-next,
.main__content .gallary .container .services__list .owl-three .owl-prev,
.main__content .gallary .container .services__list .owl-three .owl-next,
.main__content .gallary .container .services__list .owl-four .owl-prev,
.main__content .gallary .container .services__list .owl-four .owl-next,
.main__content .gallary .container .services__list .owl-five .owl-prev,
.main__content .gallary .container .services__list .owl-five .owl-next,
.main__content .gallary .container .gallary__list .owl-two .owl-prev,
.main__content .gallary .container .gallary__list .owl-two .owl-next,
.main__content .gallary .container .gallary__list .owl-three .owl-prev,
.main__content .gallary .container .gallary__list .owl-three .owl-next,
.main__content .gallary .container .gallary__list .owl-four .owl-prev,
.main__content .gallary .container .gallary__list .owl-four .owl-next,
.main__content .gallary .container .gallary__list .owl-five .owl-prev,
.main__content .gallary .container .gallary__list .owl-five .owl-next {
  color: crimson !important;
  font-size: 30px !important;
  background: none !important;
}

.main__content .company__project {
  height: 250px;
  margin: 0 0 40px 0;
}

.main__content .company__project .container {
  height: 100%;
  background-color: crimson;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__content .company__project .container .boxs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main__content .company__project .container .boxs .boxs--container {
  color: #fff;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 60px 20px 5px 30px;
      grid-template-rows: 60px 20px 5px 30px;
  grid-gap: 15px 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.main__content .company__project .container .boxs .boxs--container .icon {
  font-size: 60px;
}

.main__content .company__project .container .boxs .boxs--container .quantity {
  font-size: 1.8rem;
}

.main__content .company__project .container .boxs .boxs--container .border {
  width: 50%;
  height: 5px;
  margin: 0 auto;
  background: #fff;
}

.main__content .company__project .container .boxs .boxs--container .content {
  font-size: 1.3rem;
}

body {
  background-color: lightblue;
}

.menu__scroll--gt {
  background: rgba(0, 0, 0, 0.7);
}
/*# sourceMappingURL=style.css.map */